.panelAdminMainContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.panelAdminTitle {
  font-weight: medium;
  font-size: 1.2rem;
}

.favoriteCardMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  margin-top: 40px;
  overflow-y: scroll;
}

.panelAdminAddEventButton {
  border-radius: 30px;
  background-color: #72a6ff;
  box-shadow: 0px 0px 30px 0px rgba(201, 227, 240, 0.3);
  margin: 0px auto;
  border: none;
  margin: 20px auto;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.panelAdminCardEvent {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}
