.homePageMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.leaflet-map {
  width: 100%;
  height: 60vh; /* Ajustez la hauteur selon vos besoins */
  border: 1px solid #ddd;
  border-radius: 5px;
  border-radius: 0px 0px 30px 30px;
}

.homePageEventContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

.homePageEventContainer p {
  font-size: 1.2rem;
  font-weight: medium;
}

.homePageCardEvent {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.popup-content {
  display: flex;
  align-items: center;
}

.popup-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.popup-text {
  flex: 1;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30px;
  z-index: 1001;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.selected,
.notSelected {
  margin: 0px 8px;
  padding: 8px 15px;
  text-align: center;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.selected {
  background-color: #71a6ff;
  color: white;
}

.notSelected {
  background-color: white;
  color: #71a6ff;
}
